{% extends "sitio/base.html" %}
{% block content %}

<h1>Contacto</h1>

<hr>

<br>
<br>
<br>
<br>

<div class="center-align">

    <div class="row">
        <div class="col s4">
            <i class="large material-icons">watch_later</i>
            <h3>Horario</h3>
            <h5>Todos los días 12:00 a 22:00</h5>
        </div>
        <div class="col s4">
            <i class="large material-icons">phone_in_talk</i>
            <h3>Teléfono</h3>
            <h5>624 105 07 30</h5>
        </div>
        <div class="col s4">
            <i class="large material-icons">email</i>
            <h3>Correo</h3>
            <h5>gameroom@gmail.com</h5>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <br>
        <h5>¿No sabes cómo llegar? Aquí tenemos nuestra dirección en Google Maps</h5>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.451161905485!2d-109.93811538457804!3d22.896724326764538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86af4a62eb5f53bd%3A0xbe9e02cba16c4b6f!2scibergamesMds!5e0!3m2!1ses!2smx!4v1576577037996!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

</div>



{% endblock content %}